.encoded {
  width: 50%;
  height: 5em;
}
.decoded {
  width: 50%;
  height: 200px;
}
.secret {
  width: 30%;
}
.error {
  background-color: #d97c82;
}
#encoded-jwt-container, #decoded-jwt-container {
  margin-left: 20px;
}