.encoded {
  width: calc(100vw - 60px);
  height: 5em;
  max-width: 700px;
  font-size: 15px;
  font-family: "Roboto Mono", Menlo;
  line-height: 1.5;
  color: #ff0000;
}
@media only screen and (max-width: 600px) {
  .encoded {
    width: calc(100vw - 60px);
    height: 11em;
    max-width: 700px;
    font-size: 15px;
    font-family: "Roboto Mono", Menlo;
    line-height: 1.5;
    color: #ff0000;
  }
}
.decoded {
  width: calc(100vw - 60px);
  height: 210px;
  max-width: 700px;
  font-size: 15px;
  font-family: "Roboto Mono", Menlo;
  line-height: 1.5;
  color: #3f00ff;
}
.secret {
  width: auto;
  font-size: 15px;
  font-family: "Roboto Mono", Menlo;
  line-height: 1.5;
  color: #4ba91c;
}
.error {
  background-color: #d97c82;
}
#encoded-jwt-container, #decoded-jwt-container {
  text-align: center;
}
#encoded-jwt-container {
  margin-top: 60px;
}
  
/* 
#me {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 15px;
  width: 100%;
} 
*/